header{
    background-color: aqua;
}

div{
    text-align: center;
    display: inline;
    margin: 30%;
    font-size: 40px;
    color: red;
    font-weight: bold;
    background-color: blue;
    line-height: 100px;
}

nav{
    background-color: rgb(18, 234, 234);
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

nav a{
    text-decoration: none; /*comment*/
    color: green;
    font-weight: bold;
}

.active{
    color: red;
}

footer{
    text-align: center;
    font-weight: bold;
}

